@import url('theme.css');

.reserva{
    display:block;
    width:100%;
    height:100%;
    color: var(--text-inverse);
    text-decoration:none;
    text-align:center;
}

a {
    text-decoration: none;
    color: var(--text-inverse);
}

th .center {
    text-align: center;
}