.reserva{
    display:block;
    width:100%;
    height:100%;
    color:white;
    text-decoration:none;
    text-align:center;
}

a {
    text-decoration: none;
    color:white;
}

th .center {
    text-align: center;
}