div {align-content: center;}
.fotoutente{width: 1em}

.reserva{
    display:block;
    width:100%;
    height:100%;
    color:white;
    text-decoration:none;
    text-align:center;
}

th .center {
    text-align: center;
}